<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

<body style="font-family: 'Rubik', sans-serif;   background-image: url('/uploads/pattern3.png'); background-color: white; background-repeat: repeat; background-size: contain;">

    <div class="container bg-white d-flex border justify-content-center align-items-center " id="home" style="flex-direction: column; margin-bottom:5rem">
       
        <div class="row ">

            <h3>Update Profile</h3>
            <form action="/updateprofile" method="post" >
                <div class="mb-3">
                        <label for="languageSelect" class="form-label">Select Language:</label>
                        <select class="form-select" name="lang" id="languageSelect">
                            <option value="en">English</option>
                            <option value="hi">Hindi</option>
                        </select>
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" name="name" value="<%= user.name %>" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Father/Husband Name</label>
                    <input type="text" class="form-control" name="fathername" value="<%= user.fathername %>" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <label for="radio1" class="form-label">Gender</label>

                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="gender" value="m" checked>Male
                    <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="radio2" name="gender" value="f">Female
                    <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="mb-3">
                    <label class="mb-1" for="Date">Date Of Birth </label>
                    <input id="Date" name="dob" class="form-control" type="date" value="<%= user.dob %>" />
                </div>

                <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input type="text" class="form-control" id="pincode" name="pincode" value="<%= user.pincode %>">
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" value="<%= user.address %>" name="address" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    

</body>


<%- include('../partials/chin.ejs') %>


</html>
