 
 
 
 <div class="container ">

    <div class="col bg-white border p-1 mt-3">

        <button class="btn btn-outline-secondary my-1" onclick="history.back()">Back</button>

        
        <% chats.forEach((element, index) => { %>
            <% if (element.status === 'solved') { %>
                <div class="border p-1 rounded " >
                    <p class="m-0">Your Question Has Been Answered </p>
                
            <div class=" p-1 my-1 mb-2 shadow collapse" style="background-color: cornsilk; border: 1px rgb(215, 215, 215) solid;border-radius: 0.5rem;" id="collapse<%= index  %>">

                <h4 class="m-1 mb-2"><%= element.name  %></h4>
                <p class="m-1 mb-2 text-wrap text-break"><%= element.chat  %></p>



                <% const images = element.image.replace(/["\[\]]/g, '').split(','); %>
                <% images.forEach(image => { %>
                <img style="object-fit: scale-down; width: 100%; max-width: 300px;" src="/uploads/<%= image.trim() %>" alt="<%= image.trim() %>">
                <% }) %>
                    <hr>
                    <h2 class="text-muted" >Answer</h2>
                <div class="p-2 mt-2" style="background-color: darkcyan;
                color: white;
                border-radius: 0.4rem;">
                    <p class="text-break"><%= element.reply  %></p>
    
                </div>


            </div>
            <button class="btn btn-success btn-sm my-1  " data-bs-toggle="collapse" href="#collapse<%= index %>" role="button" aria-expanded="false" aria-controls="collapse<%= index  %>">  View Notification</button>

            <% } %>

            <% }) %>
            </div>

    </div>
  </div>

