<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doc</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>



  </head>





<% post.forEach((element,index) => { %>
 
    <div class=" p-1 m-1 mb-2 shadow" style="background-color: cornsilk; border: 1px rgb(215, 215, 215) solid;border-radius: 0.5rem;">
    
      <h4 class="m-1 mb-2"><%= element.name  %></h4>
      <p class="text-muted mx-1" style="font-size: 0.9rem;"><%= element.number %></p>
    
      <p class="m-1  text-wrap text-break"><%= element.chat  %></p>
    
    
    
    
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
    
          <% let firstImage = true; %>
          <% postimages.forEach(image => { %>
          <% if (image.id === element.id ) { %>
          <div class="carousel-item <%= firstImage ? 'active' : '' %>">
            <img style="object-fit: scale-down; width: 100%; max-width: 300px;" src="data:image/webpg;base64,<%= image.images.toString('base64') %>" alt="Image">
          </div>
          <% firstImage = false; %>
          <% } %>
          <% }) %>
    
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    
      <hr>
    
      <form action="/expertreply" method="post" hx-swap="outerHTML">
    
        <p class="text-muted m-0">ADD A ANSWER</p>
        <div class="mb-3">
          <textarea class="form-control" rows="" cols="" name="reply"></textarea>
          <input type="tel" value="<%= element.number %>" style="display: none;" name="number">
          <input type="number" value="<%= element.id %>" style="display: none;" name="id">
    
        </div>
        <div class="mb-3">
          <button class="mx-1 btn btn-primary btn-sm">Send</button>
    
        </div>
      </form>
    
    
    </div>
    
  
<% }) %>